@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100;
}

input,
textarea,
select,
button {
  @apply text-slate-900;
}

label {
  @apply text-sm font-medium text-slate-200;
}

pre {
  @apply whitespace-pre-wrap break-words;
}
